<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>
<<<<<<< .mine
    <%- include header %>
    <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </div>
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
=======
    <div>
      <input type="button" value="登录" onclick="location.href='/login'">
      <input type="button" value="注册" onclick="location.href='/register'">
    </div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

>>>>>>> .theirs
    
  </body>
</html>
