<html>
<head>
	<title></title>
	<meta charset="utf-8">
  <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <script type="text/javascript" src="/javascripts/xheditor/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/xheditor/xheditor-1.2.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/xheditor/xheditor_lang/zh-cn.js"></script>
</head>
<body>

 <%- include header %>
    <div class="jumbotron">
      <div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="<%- results.images.large %>" alt="">
    </a>
  </div>
            <p>片名：<strong><%= results.title %></strong></p>
           
            <p>出品年份：<strong><%= results.year %></strong></p>
            <p>主演：<strong><%= results.casts[0].name %></strong>&nbsp;&nbsp;<strong><%= results.casts[1].name %></strong>&nbsp;&nbsp;<strong><%= results.casts[2].name %></strong></p>
            <p>类型：<strong><%= results.genres %></strong></p>
            <p>导演：<strong><%= results.directors[0].name %></strong></p>
</div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>电影详情页</h2>
          <p>这是电影详情页 这是电影详情页这是电影详情页这是电影详情页这是电影详情页这是电影详情页这是电影详情页这是电影详情页这是电影详情页这是电影详情页
            这是电影详情页这是电影详情页这是电影详情页这是电影详情页这是电影详情页这是电影详情页这是电影详情页这是电影详情页这是电影详情页
          </p>
          <p><a class="btn btn-default" href="#" role="button">点击更多</a></p>
        </div>
       
      </div>

      <hr>
    </div>
	
</body>
</html>