<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%- title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <style>
    	li{list-style: none;}
    </style>
</head>
<body>
	<%- include header %>
	<div class="container has-header">
	<div class="row">
	  <div class="col-md-4 col-sm-6 col-xs-12"><img src=<%= results.pic_big %> width=250 /></div>
	  <div class="col-md-4 col-sm-6 col-xs-12">
			<div >
				<div >
				    <h1  title=<%= results.title %>><%= results.title %></h1>
				</div>
				<div>
					<a href="#" title=<%= results.author %> > <%= results.author %> </a>
				</div>
				<ul style="padding-left:0;">
				    <li>专辑：<a href="#" title=<%= results.album_title %>><%= results.album_title %></a></li>
				    <li >语种：<%= results.language %></li>
				    <li >流派：<%= results.style %></li>
					<li class="data_info__item js_public_time">发行时间：<%= results.publishtime %></li>
				</ul>
		    </div>
	  </div>
	  <div class="col-md-4 col-sm-8 col-xs-12"><img src=<%= results.pic_big %> />介绍</div>
	  <div class="col-md-12 col-sm-12 col-xs-12" >
		  <div style="width:500px; word-break: break-all;">我是歌词我是歌词我是歌词 我是歌词我是歌词我是歌词 我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词我是歌词
		  </div>
	  </div>
	</div>
	   <div class="col-md-12 col-sm-12 col-xs-12" >
	   我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论
	   </div>
	  

</div>
	<script src="/javascripts/jquery-1.11.3.js"></script>	
	<script >
		// $.ajax({
		// 	url: 'tingapi.ting.baidu.com/v1/restserver/ting/',
		// 	type: 'get',
		// 	data : {
		// 		method:'baidu.ting.song.lry',
		// 		 songid: '877578'
		// 	},
		// 	dataType: 'json',
		// 	success:function(data){
		// 		console.log('success');
		// 	},
		// 	error:function(data){
		// 		console.log('fail');
		// 	}
		// });
	</script>
</body>
</html>